<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chatStyle.css') }}">
</head>
<body>        
    <div class="container-left">
        <div class="box-container" id="boxContainer">
            <h1 class="box-header"> Select a scenario to demostrate the Chatbot </h1>
            <div id="freeform"></div>
            <div id="scripted"></div>
        </div>
    </div>
    <div class="container-right">
        <div class="chat-container" id="chatContainer">
            <div class="chat-box-container" id="chatBox">
                <div id="chat-box">
                    <div id="chat-header">
                        <div id="chat-icon">
                            <img src="{{ url_for('static', filename='img/stressedParamedic.jpg') }}" alt="User Icon">
                        </div>
                        <div id="chat-info">
                            <p id="chat-name">Username</p>
                        </div>
                    </div>
                    <div id="chat-window">
                        <div id="messages"></div>
                        <span id="play-button" style="display: none;" onclick="toggleAutoPlay()">&#x23F5;</span>
                        <div id="input-area" style="display: none;">
                            <input type="text" id="message-input" placeholder="Type a message">
                            <button id="send-button">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/shared.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripted_path.js') }}"></script>
    <script src="{{ url_for('static', filename='js/semantic_path.js') }}"></script>
    <script src="{{ url_for('static', filename='js/annotate.js') }}"></script>
    <script>document.addEventListener('DOMContentLoaded', function() {annotateSteps(); loadScenarioBoxes(); loadSemanticScenarioBox();})</script>
</body>
</html>